.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/images/start_page/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.startLogoContainer {
  position: absolute;
  top: 30.4vh;
  left: 44.27vw;
  width: 32.03vw;
}

.startLogo {
  width: 100%;
  cursor: pointer;
}

.howToContainer {
  position: absolute;
  width: 17%;
  bottom: 2vw;
  right: 2vw;
}

.howToContainer img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
