.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url("../../../public/images/product_selection/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftContainer {
  height: 100%;
  width: 67%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frameContainer {
  width: 60%;
  height: 65%;
}

.frameContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rightContainer {
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectionCard {
  height: 75%;
  width: 75%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.title,
.price {
  font-family: "bricolage-grotesque", sans-serif;
  color: #000;
  font-size: 40px;
  margin-top: 5vh;
}

.price {
  font-size: 48px;
}

.middlePart {
  margin-top: 8.9vh;
  width: 100%;
  height: 30%;
  display: flex;
}

.number {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arr {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arr img {
  width: 50%;
  object-fit: contain;
}

b {
  color: #000;
}


.number h4 {
  color: #000;
  font-size: 6rem;
}

.number h6 {
  color: #000;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.nextBtn {
  margin-top: auto;
  height: 17.12vh;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.nextBtn img {
  rotate: -2.01deg;
  object-fit: contain;
  width: 100%;
}

.paymentDialog .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.paymentDialog .dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  text-align: center;
}

.paymentDialog .dialogContent img {
  max-width: 100%;
  height: auto;
}

.paymentDialog .dialogContent button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.paymentDialog .dialogContent button:hover {
  background-color: #0056b3;
}
