.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/images/print/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.leftSide {
  width: 45vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.frameContainer {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.frame {
  height: 71vh;
  width: 13.38vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.35vh;
  padding-top: 3.21vh;
  padding-left: 0.6vw;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.picture {
  width: 9.05vw;
  height: 9.05vw;
  border-radius: 5px;
  transform: scaleX(-1);
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 50%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rightSide {
  width: 55vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.printContainer {
  height: 68%;
  width: 100%;
  margin-top: auto;
}

.title {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "bricolage-grotesque", sans-serif;
  letter-spacing: -0.13em;
  font-weight: 400;
  color: #fff;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 500;
  font-family: bricolage-grotesque;
}

.printImg {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.printImg img {
  width: 80%;
  object-fit: contain;
}

.bottomText {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  color: #000;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-family: bricolage-grotesque;
}

.dot {
  letter-spacing: 0em;
  color: #ffdf07;
}
